onnx==1.19.0
onnxconverter-common==1.16.0
onnxruntime==1.23.0
numpy==1.26.4
PyYAML==6.0.3
torch==2.11.0
torchvision==0.26.0
tensorflow==2.21.0
onnx2tf==1.28.8
tf2onnx==1.17.0
ultralytics==8.4.113
pillow==12.2.0
